body {
  /* font-family here*/
  background:#555555;
}

.header {
  background-color: #ffb091;
}

p {
  padding-left: 20px;
}

.mblog {
  background-color: #efffff;
}

.edablog {
  background-color: #fffdd0;
}

.edablog img {
  width: 80%;
  margin: 0 30px;
}

.nav {
  background-color: #d0e2ca;
  height:300px; /* try change the whole look of it */
}

@media (min-width: 550px) {
  .nav {
    height: 700px;
  }
}

.footer {
  background-color: #a897ff;
}
