body {
  <!-- font-family here -->
  background:#555555;
}

header {
  background-color: #ffb091;
  max-width: 960px;
  margin: 0 auto;
}

p {
  padding-left: 20px;
}

.main .container .row{
  margin: 0;
}

.main .container .row .two-thirds.column {
  background-color: #efffff;
  margin: 0;
}

.main .container .row .one-third.column {
  background-color: #d0e2ca;
  margin: 0;
}

.eda-main .container .row .two-thirds.column {
  background-color: #fffdd0;
  margin: 0;
}

.eda-main .container .row .one-third.column {
  background-color: #d0e2ca;
  margin: 0;
}

.eda-main .container .row .two-thirds.column img {
  width: 80%;
  margin: 0 30px;
}

footer {
  background-color: #a897ff;
  max-width: 960px;
  margin: 0 auto;
}
